.card {
  width: 320px;
  padding: 20px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  display: flex;
    gap: 16px;

     @media screen and (min-width: 390px) and (max-width:844px) {
   
    width: 358px;
  }
}

.gallery-service{
    display: flex;
  justify-content: center;
      padding: 21px;
    display: flex;
    justify-content: center;
    h1{
      font-family: auto;
    font-size: 34px;
     @media screen and (min-width: 390px) and (max-width:844px) {
    font-size: 28px;
    padding: 15px;
  }
    }
 
}

.body{
   display: flex;
   flex-wrap: wrap;
  //  gap: 10px;
   padding-bottom: 20px;
       justify-content: center;
       gap: 23px;

 @media screen and (min-width: 390px) and (max-width:844px) {
    gap: 23px;
    padding-bottom: 10px;
 }
}

.body-gallery{
   display: flex;
   flex-wrap: wrap;
  //  gap: 10px;
   padding-bottom: 50px;
       justify-content: center;
         gap: 23px;
}

.gallery{
    // padding: 21px;
    display: flex;
    justify-content: center;
  display: flex;
  //  width: 320px;

     border-radius: 15px;
}

.gallery-main {
  display: flex;
  justify-content: center;
      padding: 21px;
    display: flex;
    justify-content: center;
    h1{
      font-family: auto;
    font-size: 34px;
    @media screen and (min-width: 390px) and (max-width:844px) {
    font-size: 27px;
    padding: 15px;
 }
    }
 
}
.service-img{
   height: 100px;
    width: 100px;
   @media screen and (min-width: 390px) and (max-width:844px) {
    height: 75px;
    width: 75px;
  }
}

.img-gallery{
  border-radius: 10px;
    width: 353px;
    height: 250px;
     @media screen and (min-width: 390px) and (max-width:844px) {
   width: 355px;
    height: 216px;
  }
}