// .header-ul{
//     background-color: #2c1f1f;
//     height: 63px;
//    list-style-type: none;
//   @media screen and (min-width: 390px) and (max-width:844px) {
//    height: 38px;
//   }
// }

.header {
//   width: 100%;
//   background-color: #2c1f1f;
//   height: 63px;
//    list-style-type: none;
}

.header-ul {
     width: 100%;
  // background-color: #2c1f1f;
      background-color: #292121;
  height: 63px;
   list-style-type: none;
  height: 63px;
  list-style-type: none;
  display: flex;
  justify-content: flex-end; /* ALIGN ITEMS TO THE END */
  align-items: center;
  gap: 30px;
  padding: 0 30px;
  color: white;
  font-size: 18px;
    @media screen and (min-width: 390px) and (max-width:844px) {
   height: 38px;
   
  }
  
}
.header-ul li{
font-family: math;
    font-size: 16px;
 @media screen and (min-width: 390px) and (max-width:844px) {
    font-family: math;
    font-size: 13px;
 }
}