// Center content horizontally and vertically
@mixin flex-center($direction: column) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

// Common text style
@mixin text-white-center {
  color: white;
  text-align: center;
}